################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeadlyAccel
/obj
/bin/x64/Debug/netstandard2.0
